@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serf;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #3f51b5;
}

a:hover {
  color: #ff5722;
}

nav {
  min-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #eee;
  box-shadow: 0 3px 5px rgba(0, g0, 0, 0.1);
}

nav h1 {
  color: #3f51b5;
}

nav a {
  color: #3f51b5;
}

nav a:hover {
  color: #ff5722;
  border-bottom: 2px solid #ff5722;
}

nav ul {
  min-width: 30%;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-weight: bold;
}

.hero-img {
  display: block;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.bio {
  background-color: #eee;
  padding: 15px;
}

.bio-title {
  margin-bottom: 15px;
  text-align: center;
}

.bio-text {
  line-height: 1.6;
  padding: 15px 5px;
}